@import './vars.scss';

.card {
    cursor: pointer;

    &:hover {
        @include box-shadow;

        border-radius: 8px;
        z-index: 10;
    }

    &:hover &__hidden {
        visibility: visible;
    }

    &:hover > &__points {
        color: $red;
    }

    &__points {
        padding: 16px 16px 8px;
        color: $blue;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    &__description {
        padding: 0 16px;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__sizes {
        padding: 4px 16px;
        margin-bottom: 16px;
        color: $gray;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__hidden {
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    &__button {
        font-family: $primary;
        font-size: 16px;
        line-height: 24px;
        min-width: 298px;
        min-height: 44px;
        color: $white;
        background: $blue;
        border: $blue;
        border-radius: 8px;
        margin: 0 16px 16px 16px;

        &:hover {
            background: $hoverblue;
            border: $hoverblue;
        }
    }
}
