@import './vars.scss';

.header {
    width: 100%;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
    font-family: $primary;

    &__activebar {
        min-width: 1040px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
