.main {
    max-width: 1400px;
    padding: 34px 90px 0 32px;
    min-height: 100%;

    &__header {
        margin-bottom: 26px;
    }

    &__nav {
        margin-top: 6px;
    }

    &__showcase {
        min-width: 1040px;
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
}
