.section {
    &__banner {
        margin-bottom: 24px;
    }

    &__hotbuttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 76px;
        gap: 24px;
        margin-bottom: 40px;
    }

    &__radiobuttons {
        margin-bottom: 16px;
    }
}
