$black: #1c1819;
$blue: #2a81dd;
$white: #fff;
$red: #f33;
$gray: #888b94;
$lightgray: #f2f2f3;
$payedgreen: #eff8eb;
$payedyellow: #fffae7;
$payedblue: #e9f2fb;
$lightgreen: #e3f3dc;
$lightblue: #d8e8f8;
$lightyellow: #fff6d3;
$bluelighter: #d6ecfb;
$hoverblue: #2277d2;
// fonts
$primary: 'Open Sans', sans-serif;
